<%- include('partials/header'); -%>
<h1><%=HOME%></h1>
<p><%=Content%></p>
<% postss.forEach(function(postss){ %>
   <h1> <p><%-postss.cTitle%></p></h1>
    <p><%-postss.cPost%></p>
<% });%>
<%- include('partials/footer'); -%>