<%- include('partials/header'); -%>
<h1><%=HOME%></h1>
<p><%=Content%></p>
<% posts.forEach(function(posts){ %>
   <h1> <p><%-posts.cTitle%></p></h1>
    <p><%-posts.cPost%></p>
<% });%>
<%- include('partials/footer'); -%>