<%- include('partials/header'); -%>
<h1>HOME</h1>
<p><%= startingContent %></p>

<% posts.forEach(function(element){ %>
  <h1><%= element.cTitle; %></h1>
  <p><%= element.limit %>
     <a href="/posts/<%=element.cTitle%>">Read More</a>
  </p>
<% }); %>
<%- include('partials/footer'); -%>
